<!DOCTYPE html>

<html>
    <head>
        <title>Hospital</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link href="../navigator.css" rel="stylesheet"/>
        <link href="../doctorContainer.css" rel="stylesheet"/>
        <link href="doctor.css" rel="stylesheet"/>
        <link href="../preloader.css" rel="stylesheet"/>
        <script src="../controllers/DoctorController.js"></script>
        <script src="../controllers/AppointmentController.js"></script>
        <script src="../service/DoctorService.js"></script>
        <script src="../service/AppointmentService.js"></script>
        <script src="../service/StateService.js"></script>
        <script>
            function doctorClick(id) {
                document.location.href = "/Hospital/view/doctor.html?id="+id;
            }
        </script>
        <style>
            .nb { 
                position: fixed;
                opacity: 0.9;
                top: 0;
                left: 0;
                width: 100%;
                margin-top: 0px; 
                z-index: 1000; 
                padding-left: 50px; 
                background-color: #009999;
                border: none;
                border-radius: 0;
            }               
            .label { 
                text-align: center;
                font-size: 3em;
                background-color: #009999;
            }
            *[role="form"] {
                max-width: 600px;
                padding: 15px;
                margin: 0 auto;
                margin-bottom: 50px;
                margin-top: 20px;
                background-color: #eee;
                opacity: 0.9;
                border-radius: 0.3em;
            }

            *[role="form"] h2 {
                margin-left: 5em;
                margin-bottom: 1em;
            }
            label {
                font-size: 1em;
            }
            #page-preloader {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #eee;
                z-index: 100500;
            }
        </style>    
    </head>
    
    <body background="../images/bgAppointment.jpg" style="background-attachment: fixed; background-size: 100%;">
        <div id="page-preloader">
            <div class="spinner container">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="loader">
                             <p>Loading...</p>
                             <div class="loader-inner"></div>
                             <div class="loader-inner"></div>
                             <div class="loader-inner"></div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>       
        <!-- MENU -->
        <nav class="navbar navbar-default nb" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                  </button>
              <a class="navbar-brand" href="../index.html">EUROmed</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="../index.html#doctors">Doctors</a></li>
                <li><a href="#">Appointments</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Developers</a></li>
                    <li class="divider"></li>
                    <li><a href="#">About project</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="main" style="margin-top: 0;">
            <!-- NAVIGATOR -->
            <div id="wrapper">
                <div class="overlay"></div>

                <!-- Sidebar -->
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="margin-top: 50px;">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                               Menu
                            </a>
                        </li>
                        <li>
                            <a href="../index.html#doctors">Doctors</a>
                        </li>
                        <li>
                            <a href="#">Appointments</a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Dropdown heading</li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">About project</a></li>
                          </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /#sidebar-wrapper -->
                
                <!--img src="../images/appointment.jpg" style="position: absolute; top: 0; left: 0; width: 100%;"/-->
                
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                                <span class="hamb-middle"></span>
                                        <span class="hamb-bottom"></span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-0">
                                <div class="container">
                                    <div id="fancy-list-group">
                                      <div class="row">
                                        <div>                                          
                                            <form class="form-horizontal" role="form">
                                                <h2><b>Appointment Form</b></h2>
                                                <div class="form-group" style="margin-top: 20px;">
                                                    <label for="firstName" class="col-sm-4 control-label">Full Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="birthDate" class="col-sm-4 control-label">Date of Birth</label>
                                                    <div class="col-sm-6">
                                                        <input type="date" id="birthDate" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="country" class="col-sm-4 control-label">Doctor</label>
                                                    <div class="col-sm-6">
                                                        <select id="doctor" class='form-control'></select>
                                                    </div>
                                                </div> <!-- /.form-group -->
                                                <div class="form-group">
                                                    <label for="appointmentDate" class="col-sm-4 control-label">Date of Appointment</label>
                                                    <div class="col-sm-6">
                                                        <input type="date" id="appointmentDate" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-6 col-sm-offset-4">
                                                        <div class='btn btn-md btn-warning'><a href='#appointment' style='color: #fff; text-decoration: none;'><i class='fa fa-star-o' aria-hidden='true'></i>Make an appointment</a> </div>
                                                    </div>
                                                </div>
                                            </form> <!-- /form -->
                                        </div>
                                         
                                            <div id="appointments" style="color: #fff; margin-bottom: 50px; text-align: center; width: 100%;">
                                                <p></p>
                                                <p class="label" align="center">Appointments</p>  
                                            </div>
                                          
                                        <div id="appointment" class="list-group"></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>
        
        <!--  ================================================== -->
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
              var trigger = $('.hamburger'),
                  overlay = $('.overlay'),
                 isClosed = false;

                trigger.click(function () {
                  hamburger_cross();      
                });

                function hamburger_cross() {

                  if (isClosed == true) {          
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                  } else {   
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                  }
              }

              $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
              });  
            });
        </script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <script>
            $(window).on('load', function () {
                var $preloader = $('#page-preloader'),
                    $spinner   = $preloader.find('.spinner');
                $spinner.fadeOut();
                $preloader.delay(350).fadeOut('slow');
            });
        </script>
        <script>
            window.onload = function ()
            {
                var url = new URL(document.location.href);
                var doctor_id = url.searchParams.get("id");
                
                var controller = new AppointmentController();
                controller.getAllAppointmentView();
                controller.getAllDoctorView(doctor_id);
            };
        </script>
    </body>
</html>
