<!DOCTYPE html>

<html>
    <head>
        <title>Hospital</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link href="../navigator.css" rel="stylesheet"/>
        <link href="../doctorContainer.css" rel="stylesheet"/>
        <link href="../preloader.css" rel="stylesheet"/>
        <link href="../footer.css" rel="stylesheet"/>
        <script src="../controllers/DoctorController.js"></script>
        <script src="../controllers/AppointmentController.js"></script>
        <script src="../controllers/PatientController.js"></script>
        <script src="../service/DoctorService.js"></script>
        <script src="../service/AppointmentService.js"></script>
        <script src="../service/PatientService.js"></script>
        <script src="../service/StateService.js"></script>
        <script>
            function doctorClick(id) {
                document.location.href = "/Hospital/view/doctor.html?id="+id;
            }
            function makeAppointment(doctor_id) {
                document.location.href = "/Hospital/view/appointment.html?id="+doctor_id;
            }
            function authen() {
                var doctorController = new DoctorController();
                doctorController.authentication(); 
            }
            function loginClick()
            {   
                var button = "<input onclick='logoutClick()' type='submit' class='btn btn-default' value='Log out' style='background-color: #269926;'/>";
                var count=0;
                var conroller = new DoctorController(); 
                var count = conroller.authentication();
                var login = document.getElementById("inputlogin").value;
                var pass = document.getElementById("inputpass").value;
                
                if(count==1)
                {
                    document.getElementById("modalWindow").click();
                    
                    document.cookie = "login=" + login+";path=/";
                    document.cookie = "password=" + pass+";path=/";                    
                    document.getElementById('inputlogin').style.display = 'none';
                    document.getElementById('inputpass').style.display = 'none';
                    var element = document.getElementById("logBut");
                    element.innerHTML = button;
                }
                else if((login=="")||(pass=="")){alert("Введите логин и пароль!");}
                else{alert("Вход не выполнен. Проверьте введенные данные!");}
            }
            function logoutClick()
            {
               document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
                location.reload();                
            }
        </script>
        <style>
            .full-screen {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .nb { 
                position: fixed;
                opacity: 0.9;
                top: 0;
                left: 0;
                width: 100%;
                margin-top: 0px; 
                z-index: 1000; 
                padding-left: 50px; 
                background-color: #009999;
                border: none;
                border-radius: 0;
            }   
            .label { 
                text-align: center;
                font-size: 3em;
                background-color: #009999;
            }
            #page-preloader {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #eee;
                z-index: 100500;
            }
            .center {
                margin-top:50px;   
            }

            .modal-header {
                    padding-bottom: 5px;
            }

            .modal-footer {
                    padding: 0;
                    }

            .modal-footer .btn-group button {
                    height:40px;
                    border-top-left-radius : 0;
                    border-top-right-radius : 0;
                    border: none;
                    border-right: 1px solid #ddd;
            }

            .modal-footer .btn-group:last-child > button {
                    border-right: 0;
            }
        </style>    
    </head>
    
    <body background="../images/bgDevelopers.jpeg" style="background-attachment: fixed; background-size: 100%;">
        <div id="page-preloader">
            <div class="spinner container">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="loader">
                             <p>Loading...</p>
                             <div class="loader-inner"></div>
                             <div class="loader-inner"></div>
                             <div class="loader-inner"></div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
        
        <div id="modalWindow" data-toggle="modal" data-target="#myModal"></div>
        
        <div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-content" style="opacity: 0.9; padding: 10px; text-align: center; background-color: #269926;">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h3 class="modal-title" id="myModalLabel">SUCCESS!</h3>
                </div>
                <div class="modal-body text-center">
                    <p class="lead">You are logged in as user:</p>
                    <div id="success"></div>
                </div>                

              </div>
            </div>
        </div>
        
         <!-- line modal -->
        <!--div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h3 align="center" class="modal-title" id="lineModalLabel">Log in</h3>
                        </div>
                        <div class="modal-body">

                    <!-- content goes here 
                                <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">User Name</label>
                        <input type="email" class="form-control" id="userName" placeholder="Enter user name">
                      </div>
                      <div style="margin-bottom: 10px;" class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                    </form>

                        </div>
                        <div class="modal-footer">
                                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                        <div class="btn-group" role="group">
                                                <button style="color: #000;" type="button" class="btn btn-default" data-dismiss="modal" id="cancel" role="button">Cancel</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                                <button onclick="authen()" style="color: #000;" type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Log in</button>
                                        </div>
                                </div>
                        </div>
                </div>
          </div>
        </div>
        </div-->
        
        <!-- MENU -->
        <nav class="navbar navbar-default nb" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                  </button>
              <a class="navbar-brand" href="../index.html">EUROmed</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#doctors">Doctors</a></li>
                <li><a href="/Hospital/view/appointment.html">Appointments</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Developers</a></li>
                    <li class="divider"></li>
                    <li><a href="/Hospital/view/aboutProject.html">About project</a></li>
                  </ul>
                </li>
              </ul>
                <div class="navbar-form navbar-right" role="search" id="logBut">
                    <input style="width: 150px; height: 30px;" type="text" class="form-control" id="inputlogin"/>
                    <input style="width: 150px; height: 30px;" type="password" class="form-control" id="inputpass"/>
                    <input onclick="loginClick()" type="submit" class="btn btn-default" value="Log in" style="background-color: #269926;"/>
                </div>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="main" style="margin-top: 0;">
           
            <!-- NAVIGATOR -->
            <div id="wrapper">
                <div class="overlay"></div>

                <!-- Sidebar -->
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="margin-top: 50px;">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                               Menu
                            </a>
                        </li>
                        <li>
                            <a href="#doctors">Doctors</a>
                        </li>
                        <li>
                            <a href="/Hospital/view/appointment.html">Appointments</a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Dropdown heading</li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="/Hospital/view/aboutProject.html">About project</a></li>
                          </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                                <span class="hamb-middle"></span>
                                        <span class="hamb-bottom"></span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-2">
                                
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <div class="well well-sm">
                                                <div class="row">
                                                    <div class="col-sm-7 col-md-5">
                                                        <img src="../images/medvedev.jpg" alt="" class="img-rounded img-responsive" />
                                                    </div>
                                                    <div class="col-sm-4 col-md-6">
                                                        <h2 style="margin-top: 50px;">
                                                            Medvedev Rodion</h2>
                                                        <cite title="San Francisco, USA"> Stepnogorsk, RK<i class="glyphicon glyphicon-map-marker">
                                                        </i></cite>
                                                        <p style="font-size: 1.5em;">
                                                            <i class="glyphicon glyphicon-envelope"></i> kontrolyor@inbox.ru
                                                            <br />
                                                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.omgtu.ru"> OmSTU</a>
                                                            <br />
                                                            <i class="glyphicon glyphicon-gift"></i> August 06, 1996</p>
                                                        <!-- Split button -->
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-primary">
                                                                Social</button>
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span><span class="sr-only">Social</span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li><a href="https://github.com/MrGummy">Github</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <div class="well well-sm">
                                                <div class="row">
                                                    <div class="col-sm-7 col-md-5">
                                                        <img src="../images/martynenko.jpg" alt="" class="img-rounded img-responsive" />
                                                        <img src="" alt="" class="img-rounded img-responsive" />
                                                    </div>
                                                    <div class="col-sm-4 col-md-6">
                                                        <h2 style="margin-top: 50px;">
                                                            Martynenko Evgeny</h2>
                                                        <cite title="San Francisco, USA"> Ekibastuz, RK<i class="glyphicon glyphicon-map-marker">
                                                        </i></cite>
                                                        <p style="font-size: 1.5em;">
                                                            <i class="glyphicon glyphicon-envelope"></i> general_gon@mail.ru
                                                            <br />
                                                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.omgtu.ru"> OmSTU</a>
                                                            <br />
                                                            <i class="glyphicon glyphicon-gift"></i> October 23, 1996</p>
                                                        <!-- Split button -->
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-primary">
                                                                Social</button>
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                <span class="caret"></span><span class="sr-only">Social</span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li><a href="https://github.com/General-zver">Github</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>
        
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="footer-section">
            <div class="footer">
                <div class="container">
                        <div class="col-md-4 footer-four">
                               <h5>Contact Us</h5>
                               <p>Feel free to reach us</p>
                                 <div class="foot-address">
                                  <ul>
                            <li><i class="fa fa-map-marker"></i>pr. Mira, 11, Omsk, Omsk reg., 644050 </li>
                            <li><i class="fa fa-envelope-o"></i>kontrolyor@inbox.ru, 
                                                                    general_gon@mail.ru </li>
                            <li><i class="fa fa-phone"></i>+89378347334 </li>

                          </ul>
                         </div> 
                            </div>

                            <div class="col-md-3 footer-two col-md-offset-1">
                               <h5>About us</h5>
                                  <ul>
                            <li><a href="/Hospital/view/aboutProject.html"> About Project</a> </li>
                            <li><a href="/Hospital/view/developers.html"> Developers</a> </li>
                          </ul>

                            </div>
                            <div class="col-md-3 footer-three">
                               <h5>Services</h5>
                                  <ul>
                            <li><a href="/Hospital/index.html#doctors"> Doctors</a> </li>
                            <li><a href="/Hospital/view/appointment.html"> Appointments</a> </li>
                          </ul>

                            </div>
                            <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="copyright-text">
                            <p>CopyRight © 2017 EUROmed All Rights Reserved</p>
                        </div>
                    </div> <!-- End Col -->
                    <div class="col-sm-6  ">
                        <div class="copyright-text pull-right">
                            <p> <a href="/Hospital/index.html">Home</a></p>
                        </div>					
                    </div> <!-- End Col -->
                </div>
            </div>
        </div>
        
        <!--  ================================================== -->
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        <script>
            var $item = $('.carousel .item'); 
            var $wHeight = $(window).height();
            $item.eq(0).addClass('active');
            $item.height($wHeight); 
            $item.addClass('full-screen');

            $('.carousel img').each(function() {
              var $src = $(this).attr('src');
              var $color = $(this).attr('data-color');
              $(this).parent().css({
                'background-image' : 'url(' + $src + ')',
                'background-color' : $color
              });
              $(this).remove();
            });

            $(window).on('resize', function (){
              $wHeight = $(window).height();
              $item.height($wHeight);
            });

            $('.carousel').carousel({
              interval: 6000,
              pause: "false"
            });
        </script>
        <script>
            $(document).ready(function () {
              var trigger = $('.hamburger'),
                  overlay = $('.overlay'),
                 isClosed = false;

                trigger.click(function () {
                  hamburger_cross();      
                });

                function hamburger_cross() {

                  if (isClosed == true) {          
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                  } else {   
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                  }
              }

              $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
              });  
            });
        </script>
        <script>
            $(window).on('load', function () {
                var $preloader = $('#page-preloader'),
                    $spinner   = $preloader.find('.spinner');
                $spinner.fadeOut();
                $preloader.delay(350).fadeOut('slow');
            });
        </script>
        <script>
            window.onload = function () 
            {
                document.getElementById("inputlogin").value = getCookie("login");
                document.getElementById('inputpass').value = getCookie("password");
                if (document.getElementById("inputlogin").value == "undefined" && document.getElementById('inputpass').value == "undefined")
                {
                    document.getElementById("inputlogin").value = "";
                    document.getElementById('inputpass').value = "";
                }
                
                var button = "<input onclick='logoutClick()' type='submit' class='btn btn-default' value='Log out' style='background-color: #269926;'/>";
                var count=0;
                var conroller = new DoctorController(); 
                var count = conroller.authentication();  
                
                if(count==1){                    
                    document.getElementById('inputlogin').style.display = 'none';
                    document.getElementById('inputpass').style.display = 'none';
                    var element = document.getElementById("logBut");
                    element.innerHTML = button;
                }
            }
                function getCookie(name) {
                var matches = document.cookie.match(new RegExp(
                  "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            }
        </script>
    </body>
</html>

