<!DOCTYPE html>

<html>
    <head>
        <title>Hospital</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        <link href="../navigator.css" rel="stylesheet"/>
        <link href="../doctorContainer.css" rel="stylesheet"/>
        <link href="doctor.css" rel="stylesheet"/>
        <link href="../preloader.css" rel="stylesheet"/>
        <script src="../controllers/DoctorController.js"></script>
        <script src="../controllers/AppointmentController.js"></script>
        <script src="../service/DoctorService.js"></script>
        <script src="../service/AppointmentService.js"></script>
        <script src="../service/StateService.js"></script>
        <script>            
            function makeAppointment(doctor_id) {
                document.location.href = "/Hospital/view/appointment.html?id="+doctor_id;
            }
        </script>
        <style>
            .nb { 
                position: fixed;
                opacity: 0.9;
                top: 0;
                left: 0;
                width: 100%;
                margin-top: 0px; 
                z-index: 1000; 
                padding-left: 50px; 
                background-color: #009999;
                border: none;
                border-radius: 0;
            }
            .details li {
                list-style: none;
            }
            .tital{
                text-align:center;
            }
            .contant_i{
                 color: #631e1e;
                 border-bottom: 1px solid #cea7a7;
            }
            #page-preloader {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #eee;
                z-index: 100500;
            }
        </style>    
    </head>
    
    <body background="../images/bgDoctor.jpeg" style="background-attachment: fixed; background-size: 100%;">
        <div id="page-preloader">
            <div class="spinner container">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="loader">
                             <p>Loading...</p>
                             <div class="loader-inner"></div>
                             <div class="loader-inner"></div>
                             <div class="loader-inner"></div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>      
        <!-- MENU -->
        <nav class="navbar navbar-default nb" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                  </button>
              <a class="navbar-brand" href="../index.html">EUROmed</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#doctors">Doctors</a></li>
                <li><a href="/Hospital/view/appointment.html">Appointments</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Developers</a></li>
                    <li class="divider"></li>
                    <li><a href="#">About project</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="main" style="margin-top: 0;">
            <!-- NAVIGATOR -->
            <div id="wrapper">
                <div class="overlay"></div>

                <!-- Sidebar -->
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style="margin-top: 50px;">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                               Menu
                            </a>
                        </li>
                        <li>
                            <a href="../index.html#doctors">Doctors</a>
                        </li>
                        <li>
                            <a href="/Hospital/view/appointment.html">Appointments</a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Dropdown heading</li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">About project</a></li>
                          </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                                <span class="hamb-middle"></span>
                                        <span class="hamb-bottom"></span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-0">
                                
                                <div class="container">    
                                    <div id="doctor" class="jumbotron" style="padding-bottom: 30px;"></div>
                                </div> 
                                
                                <div class="clearfix"><br /></div>
                                <div class="container">
                                    <div id="fancy-list-group">
                                      <div class="row">                                          
                                        <div id="appointment" class="list-group"></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->

            </div>
            <!-- /#wrapper -->
        </div>
        
        <!--  ================================================== -->
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
              var trigger = $('.hamburger'),
                  overlay = $('.overlay'),
                 isClosed = false;

                trigger.click(function () {
                  hamburger_cross();      
                });

                function hamburger_cross() {

                  if (isClosed == true) {          
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                  } else {   
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                  }
              }

              $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
              });  
            });
        </script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <script>
            $(window).on('load', function () {
                var $preloader = $('#page-preloader'),
                    $spinner   = $preloader.find('.spinner');
                $spinner.fadeOut();
                $preloader.delay(350).fadeOut('slow');
            });
        </script>
        <script>
            window.onload = function ()
            {
                var url = new URL(document.location.href);
                var id = url.searchParams.get("id");
                var doctor_id = id;
                
                var doctorController = new DoctorController();
                doctorController.getDoctorByIdView(id);
                
                var appointmentController = new AppointmentController();
                appointmentController.getAppointmentByDoctorIdView(doctor_id);
            };
        </script>
    </body>
</html>